.body{
    width: 100%;
    height: 100%;    
}

.flowerBackground {
    background-color: #303030;
}

.container{
    margin: 20px;
    border: 5px solid #303030;
    padding: 20px;
    height: 760px;
    display: flex;
}
#circleCenter1 {
    background: #B87333;
    border-radius: 50%;
    width: 260px;
    height: 260px; 
    position: absolute;
    top: 51.3%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.petals{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: center 120px;
}

.petals {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: center bottom;
}

.circle {
    background: #EDC442;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.triangle {
    margin-top: -30px;
    width: 0;
    height: 0;
    border-top: 140px solid #EDC442;
    border-left: 46px solid transparent;
    border-right: 46px solid transparent;   
}


#petal2 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(40deg);
}

#petal3 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(81deg);
}

#petal4 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(121deg);
}

#petal5 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(161deg);
}

#petal6 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(201deg);
}

#petal7 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(241deg);
}

#petal8 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(281deg);
}

#petal9 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(321deg);
}

.stem{
    width: 25px;
    height: 400px;
    background-color: #5A9F68;
    position: absolute;
    bottom: 0;    
    left: 49.28%;
    
}

@keyframes spin1 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: translate(-50%, -50%) rotate(40deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(400deg);
    }
}

@keyframes spin3 {
    0% {
        transform: translate(-50%, -50%) rotate(80deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(440deg);
    }
}

@keyframes spin4 {
    0% {
        transform: translate(-50%, -50%) rotate(120deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(480deg);
    }
}

@keyframes spin5 {
    0% {
        transform: translate(-50%, -50%) rotate(160deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(520deg);
    }
}

@keyframes spin6 {
    0% {
        transform: translate(-50%, -50%) rotate(200deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(560deg);
    }
}

@keyframes spin7 {
    0% {
        transform: translate(-50%, -50%) rotate(240deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(600deg);
    }
}

@keyframes spin8 {
    0% {
        transform: translate(-50%, -50%) rotate(280deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(640deg);
    }
}

@keyframes spin9 {
    0% {
        transform: translate(-50%, -50%) rotate(320deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(680deg);
    }
}

.petals {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: center bottom;
}

#petal1 { animation: spin1 10s infinite linear; }
#petal2 { animation: spin2 10s infinite linear; }
#petal3 { animation: spin3 10s infinite linear; }
#petal4 { animation: spin4 10s infinite linear; }
#petal5 { animation: spin5 10s infinite linear; }
#petal6 { animation: spin6 10s infinite linear; }
#petal7 { animation: spin7 10s infinite linear; }
#petal8 { animation: spin8 10s infinite linear; }
#petal9 { animation: spin9 10s infinite linear; }

#circleCenter2 {
    background: #B87333;
    border-radius: 50%;
    width: 260px;
    height: 260px; 
    position: absolute;
    top: 51.3%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.petals2{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: center 120px;
}

.petals2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: center bottom;
}

.circle2 {
    background: #EDC442;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.triangle2 {
    margin-top: -30px;
    width: 0;
    height: 0;
    border-top: 140px solid #EDC442;
    border-left: 46px solid transparent;
    border-right: 46px solid transparent;   
}

.flower2 {
    position: absolute;
    top: 50%;  
    left: 20%; 
    transform: translate(-50%, -50%);
}

#circleCenter2 {
    background: #B87333;
    border-radius: 50%;
    width: 260px;
    height: 260px; 
    position: relative;
    top: 205px;
    left: 50%;  
    transform: translate(-50%,-50%);
}

.stem2 {
    width: 25px;
    height: 515px;
    background-color: #5A9F68;
    position: absolute;
    top: 78px;
    bottom: 0;    
    left: 50%; 
    transform: translate(-50%, 0); 
}

#petal11 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(40deg);
}

#petal12 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(81deg);
}

#petal13 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(121deg);
}

#petal14 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(161deg);
}

#petal15 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(201deg);
}

#petal16 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(241deg);
}

#petal17 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(281deg);
}

#petal18 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(321deg);
}

@keyframes spin10 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes spin11 {
    0% {
        transform: translate(-50%, -50%) rotate(40deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(400deg);
    }
}

@keyframes spin12 {
    0% {
        transform: translate(-50%, -50%) rotate(80deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(440deg);
    }
}

@keyframes spin13 {
    0% {
        transform: translate(-50%, -50%) rotate(120deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(480deg);
    }
}

@keyframes spin14 {
    0% {
        transform: translate(-50%, -50%) rotate(160deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(520deg);
    }
}

@keyframes spin15 {
    0% {
        transform: translate(-50%, -50%) rotate(200deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(560deg);
    }
}

@keyframes spin16 {
    0% {
        transform: translate(-50%, -50%) rotate(240deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(600deg);
    }
}

@keyframes spin17 {
    0% {
        transform: translate(-50%, -50%) rotate(280deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(640deg);
    }
}

@keyframes spin18 {
    0% {
        transform: translate(-50%, -50%) rotate(320deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(680deg);
    }
}

.petals2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: center bottom;
}

#petal10 { animation: spin1 10s infinite linear; }
#petal11 { animation: spin2 10s infinite linear; }
#petal12 { animation: spin3 10s infinite linear; }
#petal13 { animation: spin4 10s infinite linear; }
#petal14 { animation: spin5 10s infinite linear; }
#petal15 { animation: spin6 10s infinite linear; }
#petal16 { animation: spin7 10s infinite linear; }
#petal17 { animation: spin8 10s infinite linear; }
#petal18 { animation: spin9 10s infinite linear; }

#circleCenter3 {
    background: #B87333;
    border-radius: 50%;
    width: 260px;
    height: 260px; 
    position: absolute;
    top: 51.3%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.petals3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: center 120px;
}

.petals3 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: center bottom;
}

.circle3 {
    background: #EDC442;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.triangle3 {
    margin-top: -30px;
    width: 0;
    height: 0;
    border-top: 140px solid #EDC442;
    border-left: 46px solid transparent;
    border-right: 46px solid transparent;   
}

.flower3 {
    position: absolute;
    top: 50%;  
    left: 78%; 
    transform: translate(-50%, -50%);
}

#circleCenter3 {
    background: #B87333;
    border-radius: 50%;
    width: 260px;
    height: 260px; 
    position: relative;
    top: 205px;
    left: 50%;  
    transform: translate(-50%,-50%);
}

.stem3 {
    width: 25px;
    height: 515px;
    background-color: #5A9F68;
    position: absolute;
    top: 78px;
    bottom: 0;    
    left: 50%; 
    transform: translate(-50%, 0); 
}

#petal20 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(40deg);
}

#petal21 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(81deg);
}

#petal22 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(121deg);
}

#petal23 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(161deg);
}

#petal24 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(201deg);
}

#petal25 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(241deg);
}

#petal26 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(281deg);
}

#petal27 {
    position: absolute;
    top: 40%; 
    left: 50.1%;
    transform: translate(-50%, -50%) rotate(321deg);
}

@keyframes spin19 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes spin20 {
    0% {
        transform: translate(-50%, -50%) rotate(40deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(400deg);
    }
}

@keyframes spin21 {
    0% {
        transform: translate(-50%, -50%) rotate(80deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(440deg);
    }
}

@keyframes spin22 {
    0% {
        transform: translate(-50%, -50%) rotate(120deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(480deg);
    }
}

@keyframes spin23 {
    0% {
        transform: translate(-50%, -50%) rotate(160deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(520deg);
    }
}

@keyframes spin24 {
    0% {
        transform: translate(-50%, -50%) rotate(200deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(560deg);
    }
}

@keyframes spin25 {
    0% {
        transform: translate(-50%, -50%) rotate(240deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(600deg);
    }
}

@keyframes spin26 {
    0% {
        transform: translate(-50%, -50%) rotate(280deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(640deg);
    }
}

@keyframes spin27 {
    0% {
        transform: translate(-50%, -50%) rotate(320deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(680deg);
    }
}

.petals3 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: center bottom;
}

#petal19 { animation: spin1 10s infinite linear; }
#petal20 { animation: spin2 10s infinite linear; }
#petal21 { animation: spin3 10s infinite linear; }
#petal22 { animation: spin4 10s infinite linear; }
#petal23 { animation: spin5 10s infinite linear; }
#petal24 { animation: spin6 10s infinite linear; }
#petal25 { animation: spin7 10s infinite linear; }
#petal26 { animation: spin8 10s infinite linear; }
#petal27 { animation: spin9 10s infinite linear; }